html{
  user-select: none;
  font: 2.112vh/1.4286 'microsoft yahei';
  background-color: #1c2125;
  color: white;
  @media(max-width: 480px){
    font-size: 4.9vw;
  }
  body{
    width: 100vw;height: 100vh;
    overflow: hidden;
    @media(max-width: 480px){
      margin: 0;
    }
  }
}

div.a{
  margin: 20vh auto 5vh auto;
  img{
    display: block;
    margin: 0 auto;
    width: 190px;
    height: 190px;
    box-shadow: 0 0 12px black;
  }
  small{
    font-size: 20px;
    display: block;
    text-align: center;
    font-weight: bold;
    margin: 30px;
  }
}
div.b{
  font-size: 20px;
  text-align: center;
  letter-spacing: 2px;
  transform: translateX(10px);
}